.pytest_cache/
src/sequence_sensei/__pycache__/
tests/__pycache__/
*output
best_responses/
data/
output_basic_tournament/
.vscode/
src/sequence_sensei.egg-info/

.ipynb_checkpoints/
raw_data/
.DS_Store

*.aux
*.bbl
*.blg
*.out
*.log
